.contact {
  background-color: $primary-accent;
  color: $white;
  text-align: center;
  padding: rem(50) 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: $font-title-mob;
    line-height: rem(50);
    margin-bottom: rem(30);

    @include breakpoint(desktop) {
      font-size: $font-title-desktop;
      line-height: rem(60);
    }
  }

  &__text {
    font-weight: 300;
    font-size: rem(20);
    line-height: rem(24);
    margin-bottom: rem(62);
  }

  &__form {
    margin-bottom: rem(57);
    display: flex;
    flex-direction: column;

    &__textarea {
      height: rem(181);
    }

    &__input,
    &__textarea {
      font-family: $main-font-family;
        justify-content: flex-start;
        color: $white;
        font-weight: 300;
        font-size: $primaty-font-size;
        line-height: rem(19);
      width: rem(320);
      background-color: rgba(65, 162, 151, 1);
      border-radius: rem(27.5);
      border: none;
      padding: rem(18) 0 rem(18) rem(35);
      outline: 0px none transparent;
      resize: none;

      @include breakpoint(tablet) {
        width: rem(433);
      }

      & + & {
        margin-top: rem(23);
      }
    }

         &__input:focus,
         &__textarea:focus {
          color: $white;
          font-family: $main-font-family;
            color: $white;
            font-weight: 300;
            font-size: $primaty-font-size;
            line-height: rem(19);
        
         }

    &__input::placeholder,
    &__textarea::placeholder {
      font-family: $main-font-family;
      justify-content: flex-start;
      color: $white;
      font-weight: 300;
      font-size: $primaty-font-size;
      line-height: rem(19);
    }
  }

  &__btn {
    @include btn;
    border: 3px solid $white;
    width: rem(205);
    padding: rem(15) 0;
    border-radius: rem(27.5);
  }
}
