.design-learning {
  background-image: url(./../../images/design-bg.png);
  position: relative;
  padding: rem(85) 0;
  margin-bottom: rem(10);

  @include breakpoint(desktop) {
    display: flex;
    padding: rem(24) rem(5) 0;
  }

  .container {
    @include breakpoint(desktop) {
      display: flex;
    }
  }

  &__img {
    display: none;

    @include breakpoint(desktop) {
      display: block;
    }
  }

  &::after {
    @include decorLine;
  }

  &__content-container {
    text-align: center;

    @include breakpoint(desktop) {
      text-align: start;
      padding-top: rem(90);
    }
  }

  &__title {
    font-size: rem(55);
    line-height: rem(55);
    text-transform: uppercase;
    color: $text-color-dark;
    margin-bottom: rem(10);

    @include breakpoint(desktop) {
      font-size: rem(75);
      line-height: rem(75);
    }
  }

  &__text {
    font-weight: 250;
    font-size: rem(35);
    line-height: rem(35);
    text-transform: capitalize;
    color: $text-color-dark;
    margin-bottom: rem(35);
  }

  &__btn {
    @include btn;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: rem(12) rem(22);
    border-radius: rem(20);
  }
}
