.instructional-design {
  text-align: center;
  padding: rem(50) rem(5);

  &__wrapper + &__wrapper {
    margin-top: rem(60);
  }

  &__wrapper {
    @include breakpoint(desktop) {
      display: flex;
      gap: rem(30);
    }

    &:nth-child(odd) {
      @include breakpoint(desktop) {
        flex-direction: row-reverse;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(50);
    line-height: rem(60);
    color: $text-color-light;
    margin-bottom: rem(50);
  }
  &__img {
    max-width: 75%;

    @include breakpoint(desktop) {
      max-width: 100%;
    }
  }

  &__second-title {
    font-weight: 400;
    font-size: rem(30);
    line-height: rem(36);
    color: $text-color-dark;
    margin-bottom: rem(30);
  }

  &__paragraph {
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
    color: $text-color-dark;
    margin-bottom: rem(30);
  }

  &__list {
    text-align: start;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
    color: $text-color-dark;

    &-item {
      display: grid;
      grid-template-columns: 1fr 11fr;
      gap: rem(15);
    }
    &-item + &-item {
      margin-top: rem(15);
    }
  }
}
