@use "../utils/functions" as *;

.services {
  padding-top: rem(50);
  padding-bottom: rem(105);

  &__container:not(:last-child) {
    margin-bottom: rem(125);
  }

  &__title {
    font-size: rem(30);
    text-align: center;
    color: $text-color-grey;
    text-transform: capitalize;
    margin-bottom: rem(50);

    @include breakpoint(desktop) {
      font-size: rem(50);
    }
  }

  &__list {
    @include breakpoint(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(10);
    }
    @include breakpoint(desktop) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: rem(50);
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__title {
      @include servicesTitleDecor($secondary-accent);
    }

    &__title--green {
      @include servicesTitleDecor($primary-accent);
    }

    &__title--grey {
      @include servicesTitleDecor(#b5b7b6);
    }

    &__content {
      font-weight: 300;
      font-size: rem(14);
      line-height: 145%;
      margin-bottom: rem(25);

      @include breakpoint(desktop) {
        margin-bottom: 0;
      }
    }
  }
}

.gold-wrapper {
  background-color: $secondary-accent;
    width: rem(85);
    height: rem(85);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(30);
}


.blue-chill-wrapper {
  background-color: $primary-accent;
    width: rem(85);
    height: rem(85);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(30);
}

.blue-chill-circle {
  background-color: $bg-light;
    width: rem(85);
    height: rem(85);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(30);
  border: 3px solid $primary-accent;
}

.grey-circle {
  background-color: $bg-light;
    width: rem(85);
    height: rem(85);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(30);
  border: 3px solid #b5b7b6;
}
