@mixin breakpoint($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin servicesTitleDecor($color) {
  font-size: $primaty-font-size;
  line-height: rem(19);
  text-align: center;
  text-transform: uppercase;
  color: $text-dark;
  position: relative;
  margin-bottom: rem(25);

  @include breakpoint(desktop) {
    max-width: rem(128);
  }

  &::after {
    content: "";
    width: em(35);
    height: rem(3);
    background-color: $color;
    position: absolute;
    bottom: rem(-10);
    left: 50%;
    margin-left: rem(-17.5);
  }
}

@mixin btn {
  color: $white;
  background-color: $primary-accent;
  font-weight: 400;
  font-size: $primaty-font-size;
  border: 0;
  transition-duration: $animation-duration;
  transition-timing-function: $animation-type;

  &:hover,
  &:focus {
    background-color: lighten($color: $primary-accent, $amount: 20%);
  }
}
