@use "../utils/functions" as *;

//colors
$primary-accent:#3d948e;
$secondary-accent: #dcce90;

$white: #ffffff;
$text-color-grey: #999b9a; 
$text-dark: #212121;
$text-darkest: #424242;
$on-bg-dark: #929292; 
$on-bg-darkest: #595959;

$bg-light: #f5f5f5; 
$bg-dark: #383838; 
$bg-darkest: #414141; 

//breakpoints
$breakpoints: (
  "mobile": rem(480),
  "tablet": rem(768),
  "desktop": rem(1200),
);

//container-width
$mob-container: rem(370);
$tablet-container: rem(700);
$desktop-container: rem(951);

//font
$main-font-family: "Museo Sans Cyrl";
$font-title-mob: rem(40);
$font-title-desktop: rem(50);
$primaty-font-size: 1rem;

//animation
$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);
