@use "../utils/functions" as *;

//colors
$primary-bg-color: #f5f5f5;
$white: #ffffff;
$main-text-color: #212121;
$text-color-dark: #424242;
$text-color-light: #999b9a;
$accent-color-one: #dcce90;
$accent-color-two: #3d948e;
$footer-bg-light: #383838;
$on-footer-light: #929292;
$footer-bg-dark: #414141;
$on-footer-light-dark: #595959;

//breakpoints
$breakpoints: (
  "mobile": rem(480),
  "tablet": rem(768),
  "desktop": rem(1200),
);

//animation
$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);
