@use "../utils/functions" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body {
  font-family: "Museo Sans Cyrl";
  font-weight: 600;
  background-color: $bg-light;
}

.container {
  max-width: $mob-container;
  margin: 0 auto;
  padding: 0 rem(10);

  @include breakpoint(tablet) {
    max-width: $tablet-container;
  }
  @include breakpoint(desktop) {
    max-width: $desktop-container;
  }
}
