@font-face {
  font-family: "Museo Sans Cyrl, small";
  src: url("./../../fonts/Museo\ Sans\ Cyrl\ 300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl, regular";
  src: url("./../../fonts/Museo\ Sans\ Cyrl\ 500.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl, bold";
  src: url("./../../fonts/Museo\ Sans\ Cyrl\ 700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
